.login-forms {
  max-width: 350px;
}

.logo {
  width: 15%;
}

.home-image {
  height: 100vh;
  object-fit: fill;
}

.host-image {
  width: 100px;
}

.hostimag {
  width: 10px;
}

.orpcy {
  min-height: 100vh;
}

.side-image img {
  margin: 0;
  width: 100%;
  max-width: 300px;
  height: 50%;
}

.img {
  width: 100px;
}

.img3 {
  width: 50px;
}

.insta {
  background: #d53d8f;
  color: #fff;
}

.login {
  background: #2fd865;
  color: #fff;
}

.sidelinks li {
  color: #009688;
  margin-bottom: 10px;
}

.sidelinks a {
  text-decoration: none;
  color: #009688;
}

.host-img {
  width: 20%;
  justify-content: center;
  /* margin: 0 auto; */
}

.vv {
  width: 100%;
  margin-bottom: 10px;
}

.vv input {
  width: 49%;
  margin-right: 2%;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image img {
  height: 50%;
  border: none;
}

.host-img2 img {
  width: 100%;
}

.diff {
  font-family: 'Sacramento', cursive;
  font-size: 40px;

}

.quote {
  /* font-family: 'Sacramento', cursive; */
  font-size: 50px;
  font-style: italic;
}

.next-btn {
  justify-content: center;
  background: rgb(108, 215, 215);
  color: #fff;
}

.actions-row {
  border-top: 1px solid grey;
}

.profile-logo {
  width: 150px;

}

.host-desc {
  background: #222222;
}

.mail {
  margin: auto;
  text-align: right;

}

.mail-icon {
  font-size: 50px;
}

.desc-text {
  font-size: 13px;
}

.host {
  font-size: 11px;
}

.profile {
  font-size: 18px;
}

.notif,
.icn {
  float: right;
}

.xxx {
  max-width: 130px;
}

.create-sidebar {
  max-width: 300px;
}